fastapi
uvicorn
python-multipart
numpy>=2.0.0
opencv-python-headless
pypdf
sentence-transformers
faiss-cpu
openai
requests
python-dotenv
pandas
scikit-learn
joblib
pymongo
facenet-pytorch
torchvision

